@model ToDo.Models.EventViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Todo Item - Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EventId)
        @Html.HiddenFor(model => model.UserId)

        @Html.HiddenFor(model => model.CreatedOn)
        @Html.HiddenFor(model => model.UpdatedOn)
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">


                @Html.TextBox("Date", @Convert.ToDateTime(@Model.Date).ToString("MM/dd/yyyy"), htmlAttributes: new { @class = "form-control text-box single-line valid" })

                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="Save" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
}

<div >
    @Html.ActionLink("Back to List", "Index")
</div>


